<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="text-center">
        <h1 style="font-family: cursive;">Amor de Chat</h1>
        <h3>SWITCH</h3>
    </div>
    <div class="container" style="background-color: #ddd;">
        <div class="row">
          <div class="col-md-12">
            <div class="timeline">

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>¿Holaa me encontraste?”</h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4>te encontré</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>Estás? Estás en mis pensamientos 💗</h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4>será que sos el ( ; ) que le faltaba a mi código?</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>jaja muy lindo, extraño tus besos 😍</h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4> jajaja 🤭</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>Te veo jaja 😍</h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4>jajajaj yo tambien 
                    estoy comiendo el chocolate que me diste ayer , vos que tal ? como vas?
                    </h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>Que dice la frase?
                    Me gusto regalarte, me gusta verte feliz
                    </h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4>dice de un rosal corte una rosa, de una magnolia una flor, para completar el ramo solo me falta tu amor</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>TENDRE TU AMOR? ☺️</h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4> no lo se, el tiempo lo dira jajaj que lindo que te guste verme feliz, sos muy linda persona</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>Y ME SIENTO FELIZ ESTANDO CON VOS ☺️😍
                    Espero que vos también
                    </h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4>creo que se nota o no? 🤭</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>Jaja un poquito mucho</h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4> jajajaj vos no estas tan feliz?</h4>
                </div>
              </div>

              <div class="timeline-item" >
                <div class="timeline-icon" style="background-color: #fff;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content" style="background-color: #FFB6C1;">
                  <h2>CASE 1</h2>
                  <h4>No se nota ? Jaja                 </h4>
                </div>
              </div>

              <div class="timeline-item">
                <div class="timeline-icon" style="background-color: #333;">
                    <i class="fa-solid fa-heart" style="color: red; font-size: 30px;"></i>
                </div>
                <div class="timeline-content">
                  <h2>CASE 2</h2>
                  <h4> un poquito jajaj</h4>
                </div>
              </div>


              
            </div>
          </div>
        </div>
      </div>
      <style>
        .timeline {
  position: relative;
  padding: 0;
  list-style: none;
  margin: 50px 0;
}

.timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #ccc;
  left: 50%;
  margin-left: -2px;
}

.timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline-item:before,
.timeline-item:after {
  content: "";
  display: table;
}

.timeline-item:after {
  clear: both;
}

.timeline-icon {
  left: 50%;
  position: absolute;
  color: #fff;
  background: #6c7ae0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  text-align: center;
  line-height: 50px;
  z-index: 100;
}

.timeline-content {
  margin-left: 60px;
  margin-right: 30px;
  background: #f7f7f7;
  position: relative;
  border-radius: 6px;
  padding: 20px;
}

.timeline h2 {
  margin-top: 0;
  color: #333;
}

.timeline p {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.timeline .date {
  color: #666;
  font-size: 0.9rem
}
      </style>
</body>
</html>